:root {
  --color-background: #42423a;
  --color-background-transparent: 'rgba(77, 77, 68, 0.85)';
  --color-text: #c1c1aa;
  --font-text: "Courier Prime Sans", Consolas, Courier-New, monospace;
}

html, body {
  min-height: 100%;
  height: 100%;
}

@font-face {
  font-family: "Courier Prime Sans";
  src: url("Courier Prime Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier Prime Sans";
  src: url("Courier Prime Sans Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}